name: Cache Pip Packages

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          requirements:
            - 'requirements.txt'
    - uses: actions/setup-python@v6
      if: github.event_name == 'workflow_dispatch' || steps.filter.outputs.requirements == 'true'
      with:
        python-version: '3.12'
        cache: 'pip'
    - name: install packages
      if: github.event_name == 'workflow_dispatch' || steps.filter.outputs.requirements == 'true'
      run: pip install -r requirements.txt